@namespace Blog.Components.Layout

<footer>
  <a href="https://github.com/StevanFreeborn/blog.stevanfreeborn.com">Code</a>
  <NavLink href="/terms">Terms</NavLink>
  <NavLink href="/privacy">Privacy</NavLink>
</footer>