@namespace Blog.Components

<header class="container">
  <div class="title-container">
    <a href="/">
      <h1>journal</h1>
    </a>
  </div>
  <div class="author-container">
    <span>by</span>
    <img src="https://github.com/StevanFreeborn.png" alt="Stevan Freeborn" />
  </div>
</header>
