@namespace Blog.Components.Layout

<header class="container">
  <div class="title-container">
    <NavLink href="/">
      <h1>journal</h1>
      <p>using
        <a target="_blank" href="https://dotnet.microsoft.com/">
          .NET @Environment.Version.Major
        </a>
      </p>
    </NavLink>
  </div>
  <div class="author-container">
    <span>by</span>
    <a href="https://stevanfreeborn.com" target="_blank">
      <img src="https://github.com/StevanFreeborn.png" alt="Stevan Freeborn" />
      <span class="sr-only">Stevan Freeborn</span>
    </a>
  </div>
</header>