
@page "/Error/404"

<div class="container">
    <h2>Not Found</h2>
    <p>Hmm...it doesn't look like the page you were looking for exists, but we did find this adorable corgi.</p>
    <img src="not-found-corgi.jpg" alt="A cute corgi" />
</div>