@page "/"

<PageTitle>journal - A blog by Stevan Freeborn</PageTitle>

<HeadContent>
  <meta name="description" content="A blog by Stevan Freeborn" />
</HeadContent>

<h2 class="sr-only">Posts</h2>
<Feed />