@inherits Bunit.TestContext

@code
{
  [Test]
  public void Header_WhenRendered_ItShouldContainSiteTitle()
  {
    var cut = Render(@<Header />);
    cut.MarkupMatches(@<h1>journal</h1>);
  }

  [Test]
  public void Header_WhenRendered_ItShouldContainAuthorInfo()
  {
    var cut = Render(@<Header />);
    cut.MarkupMatches(@<span>by</span>);
  }

  [Test]
  public void Header_WhenRendered_ItShouldContainAuthorImage()
  {
    var cut = Render(@<Header />);
    var image = cut.Find("img[alt='Stevan Freeborn']");
    image.Should().NotBeNull();
  }
}
